* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: linear-gradient(135deg, #e5b34e, #fdf2f8);
    color: #222;
    line-height: 2;
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

body {
    background-size: cover;
}

.division {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.division p1 {
    font-size: 2.7rem;
    font-weight: bold;
    color: #374151;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 3px solid #3c94f8;
    border-radius: 10px;
    background: #eef2ff;
}

h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 10px;
    background-color: #3e77f1;
    border-radius: 8px;
}

h2, h4, h5, h6 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 8px 12px;
    background: #ede9fe;
    border-radius: 8px;
    background-color: #3e77f1;
}

p {
    margin-bottom: 18px;
    font-size: 1.1rem;
}

ul {
    margin-left: 25px;
    margin-bottom: 25px;
}

li {
    margin-bottom: 6px;
    font-size: 1.1rem;
}

a {
    display: inline-flex;
    margin-top: 15px;
    text-decoration: none;
    background-color: #3e77f1;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    margin: 12px;
    margin-left: 120px;
}

h3 {
    text-align: center;
}

img {
    width: 50%;
    height: 100%;
    margin: 20% ;
    padding: 0px;
    margin-top: 18px;
    margin-bottom: 12px;
    text-align: center;
    margin-left: 25%;
}

p2 {
    text-decoration: underline;
}

.texte {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
}

.phrase {
    background-color: rgb(230, 163, 91);
    padding:6px ;
    border-radius: 8px;
    margin: 36px;
    text-align: center;
}


